// COLORS

$color-primary: #81b4b1;
$color-primary-dark: #83c4bf;
$color-primary-light: #c4ece9;

$color-secondary: #fde89f;
$color-secondary-dark: #f4d875;

$color-text: #fffcf2;
$color-gery: #d9d9d9;
$color-black: #000000;
