// COLORS

$color-primary: #81b4b1;
$color-primary-dark: #83c4bf;
$color-primary-light: #c4ece9;

$color-secondary: #fde89f;
$color-secondary-dark: #f4d875;

$color-text: #fffcf2;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey: #d9d9d9;
$color-black: #000000;

$default-font-size: 1.6rem;

$n: 5;
$card-width: 40rem;
$card-separation: 80px;
$viewer-distance: 500px;

$PI: 3.141592653589793;
$theta: calc(2 * 3.1415926536 / $n);
$apothem: 482.842712474619px;

//172.047739587
