.about {
  position: relative;
  background-color: $color-primary-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15rem 5vw 10rem 4vw;
  z-index: 100;
  overflow: hidden;

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    max-width: 52vw;
    overflow: hidden;
  }

  &__text {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
  }

  &__pulse-box {
    max-width: 50vw;
    position: relative;
  }

  &__pulse {
    position: absolute;
    top: 0;
    right: 0;
    height: 36.6rem;
    width: 36.6rem;
    border-radius: 50%;
    z-index: 200;
    background-color: $color-secondary;
  }

  &__img-box {
    position: relative;
    height: 36.6rem;
    width: 36.6rem;
    border-radius: 50%;
    overflow: hidden;
    z-index: 500;
  }

  &__img {
    width: 100%;
  }
}

.pulse1 {
  animation: pulse1 2s infinite;
}

.pulse2 {
  animation: pulse2 5s infinite;
}
