.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 3.2rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.8rem;
    color: $color-text;
    transition: all 0.3s;
  }

  &__link:hover {
    color: $color-secondary;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}
