.popupnav {
  &__button {
    visibility: hidden;
    z-index: 3000;
    position: fixed;
    right: 57px;
    top: 42.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &_active {
      transform: rotate(180deg);
    }
  }

  &__button &__button-line {
    width: 40px;
    height: 4px;
    margin: 0 0 8px 0;
    background: $color-primary-dark;
    transition: all 0.5s ease-out;
    border-radius: 2px;
  }

  &__button:hover &__button-line {
    background: $color-primary;
    opacity: 0.6;
  }

  &__button_active &__button-line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }

  &__button_active &__button-line:nth-child(2) {
    opacity: 0;
  }

  &__button_active &__button-line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
  }

  &__background {
    visibility: hidden;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: fixed;
    top: 32px;
    right: 32px;
    background: $color-secondary-dark;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-shadow: -1.5px 0.5px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: $color-primary-dark;
    transition: 0.3s linear;
  }

  &__link:hover {
    color: $color-primary;
  }

  &__background_active {
    transform: scale(80);
  }

  &__nav_active {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    &__background {
      visibility: visible;
    }
    &__button {
      visibility: visible;
      right: 44px;
      top: 30px;
    }
  }
}
