.technologies {
  background-image: linear-gradient(
    $color-primary-med,
    $color-primary-light,
    $color-primary-dark
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-bottom: 20rem;

  &__list {
    margin: 0 auto;
    list-style: none;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    &:last-child {
      gap: 1;
    }
  }

  &__icon {
    transition: transform 0.3s;
  }

  &__icon:hover {
    transform: scale(1.2);
  }
}
